In [7]:
import pandas as pd
from sklearn.linear_model import LinearRegression


df= pd.read_csv('/Users/alexandermaat/Downloads/heart.csv')
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,heart attack
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [13]:
# dummy code if there are text features, bin catagorical values,
# df.loc[filter, column name to change] = new value like the double positions in nba dataset 

# 1st step is to clean the data - by removing na
# first look for columns that are mostly missing and drop the column first
df.isna().sum() / df.shape[0] * 100
# percantage of missing values if more than 10% drop the column


# 2 use drop na to remove rows with missing values 
# df.dropna(inplace=True)

# 1 remove missing
# 2 bin values
#  3 dummy code
# 4 set up model

y = df['heart attack']
X = df.drop(columns=['heart attack'])


# train the modle
model = LinearRegression().fit(X, y)

In [14]:
# examine the results 
print(model.score(X,y))
print(model.intercept_)
pd.DataFrame({'Coefficients':model.coef_}, index=model.feature_names_in_).sort_values(by=['Coefficients'], ascending=False)

0.5175499644256842
0.8288986814219825

          Coefficients
cp            0.112703
slp           0.078979
restecg       0.049848
fbs           0.017374
thalachh      0.003019
chol         -0.000354
age          -0.000820
trtbps       -0.001991
oldpeak      -0.058789
caa          -0.100602
thall        -0.119039
exng         -0.144046
sex          -0.195996

In [15]:
def vif(df):
  import pandas as pd
  from sklearn.linear_model import LinearRegression

  df_output = pd.DataFrame(columns=['VIF'])

  for col in df:
    y = df[col]
    X = df.drop(columns=[col])
    r_squared = LinearRegression().fit(X, y).score(X, y)
    vif = 1 / (1 - r_squared)

    df_output.loc[col] = vif

  return df_output.sort_values(by=['VIF'], ascending=False)

vif(X)

# if the vif is greater than 3 then remove the column with the highest vif and rerun the model
# vif is the variance inflation factor
# if the vif is greater than 3 then the variable is highly correlated with the other variables
# and should be removed from the model
# if the vif is less than 3 then the variable is not highly correlated with the other variables
# and can be included in the model

               VIF
oldpeak   1.705857
slp       1.642595
thalachh  1.613726
age       1.443474
exng      1.402001
cp        1.284456
caa       1.202570
trtbps    1.170591
sex       1.161866
chol      1.150174
thall     1.147279
fbs       1.087379
restecg   1.060998